#about
  %h2 About Paul Annesley and This Site

  %p
    This site is my personal blog and aggregation point, powered by all sorts of 
    cool open source HTTP-speaking components including
    <a href="http://ruby-lang.org/" title="Ruby Programming Language">Ruby</a>,
    <a href="http://www.sinatrarb.com/" title="Sinatra: Ruby web framework">Sinatra</a>,
    <a href="http://rfeedparser.rubyforge.org/" title="rFeedParser: Universal Feed Parser in Ruby">rFeedParser</a>,
    <a href="http://couchdb.apache.org/" title="The CouchDB Project">CouchDB</a>,
    <a href="http://tokyocabinet.sourceforge.net/index.html" title="Tokyo Cabinet: a modern implementation of DBM">Tokyo Cabinet</a> +
    <a href="http://tokyocabinet.sourceforge.net/tyrantdoc/" title="Tokyo Tyrant: network interface of Tokyo Cabinet">Tokyo Tyrant</a>,
    <a href="http://code.macournoyer.com/thin/" title="Thin: Ruby web server">Thin</a>,
    <a href="http://www.nginx.net/" title="nginx: fast HTTP server/proxy">nginx</a> and
    <a href="http://varnish.projects.linpro.no/" title="Varnish: HTTP caching proxy">Varnish</a>.
    Previous incarnations of this site have been powered by
    <a href="http://www.djangoproject.com/" title="Django: Python web framework">Django</a> +
    <a href="http://www.python.org/" title="Python Programming Language">Python</a>,
    <a href="http://php.net/" title="PHP: Hypertext Preprocessor">PHP</a>,
    and even
    <a href="http://wordpress.org/" title="WordPress: Blog Tool and Publishing Platform">WordPress</a> once upon a time.

  %p
    I've worked with PHP5 (heavily object-oriented) since it was released,
    and recently switched from Subversion to <a href="http://git.or.cz/">Git</a>,
    which was a system shock but well worth it.
    I've got a secret love for
    <a href="http://www.ruby-lang.org/" title="Ruby Programming Language">Ruby</a>,
    <a href="http://www.python.org/" title="Python Programming Language">Python</a> and
    <a href="http://en.wikipedia.org/wiki/JavaScript" title="JavaScript - Wikipedia">JavaScript</a>,
    as well as a secret hate for PHP, but I don't let that get in the way of
    what needs to be done :)

  #authored.list
    %h2 Things I've Written Elsewhere
    %ul
      - @authored_elsewhere.each do |entry|
        %li
          %a{ :href => entry['link'] }= entry['title']

  .list
    %h2 Me, Elsewhere
    %ul
      %li
        %a{ :href => 'http://github.com/pda', :title => 'pda at GitHub', :rel => 'me' } GitHub
        %span.meta &raquo; pda
      %li
        %a{ :href => 'http://www.linkedin.com/in/paulannesley', :title => 'paulannesley on LinkedIn', :rel => 'me' } LinkedIn
        %span.meta &raquo; paulannesley
      %li
        %a{ :href => 'http://twitter.com/pda', :title => 'pda on Twitter', :rel => 'me' } Twitter
        %span.meta &raquo; pda
      %li
        %a{ :href => 'http://flickr.com/photos/paulannesley/', :title => 'paulannesley on Flickr', :rel => 'me' } Flickr
        %span.meta &raquo; paulannesley
      %li
        %a{ :href => 'http://delicious.com/paul.annesley', :title => 'paul.annesley at Delicious', :rel => 'me' } Delicious
        %span.meta &raquo; paul.annesley
      %li
        %a{ :href => 'http://99designs.com/people/paul', :title => 'Paul Annesley at 99designs', :rel => 'me' } 99designs
        %span.meta &raquo; Paul Annesley

  #announcements.list
    %h2 Interesting Announcements
    %ul
      - @announced_elsewhere.each do |entry|
        %li
          %a{ :href => entry['link'] }= entry['title']
          %span.meta
            &raquo;
            = feed_entry_date entry

  #commented.list
    %h2 Places I've Left Comments
    %ul
      - @commented.each do |entry|
        %li
          %a{ :href => entry['link'] }= entry['title']
          %span.meta
            &raquo;
            = feed_entry_host entry
